.container {
  padding: 24px var(--gutter);
  width: 100%;
  min-height: calc(100vh - var(--nav-height));
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.image {
  width: 400px;
}

.rightColumn {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  width: 75%;
  min-height: 50vh;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0px 0px 25px rgba(151, 145, 131, 0.25);
}

.title {
  margin-bottom: 26px;
  font-family: var(--heading-font);
  color: var(--primary-fill-color);
  font-size: 22px;
  font-weight: 700;
  color: var(--primary-blue);
}

.link{
  font-family: var(--heading-font);
  color: var(--primary-fill-color);
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
  float: left;
  color: var(--primary-blue);
}

.linkContainer{
  display: flex;
  flex-direction: column;
}

.forgotPassword{
  margin-left: auto;
}

