.container{
    box-sizing: border-box;
    width: 100%;
    padding: var(--gutter);
    display: flex;
    flex-direction: column;
    height: calc(100vh - var(--nav-height));
    overflow-y: auto;
    background-image: url("../../assets/textured_paper.png");
    /* padding-top: 2rem; */
    padding-bottom: 2rem;
}

.title{
    text-align: center;
}

.details{
    width: 100%;
    /* border-radius: 15px; */
    /* background-color: var(--white); */
    box-sizing: border-box;
    padding: var(--gutter);
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
}

.colorDetails{
    color: var(--yellow);
    /* border-radius: 15px;
    background-color: var(--white);
    padding: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
    padding: 1.5rem;
}

.cardsContainer{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
}

.cards{
    width: 100%;
    border-radius: 15px;
    background-color: var(--white);
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 1.5rem;
}

.containerCard{
    width: 100%;
    
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; */
    display: flex;
    /* grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem; */
    flex-wrap: wrap;

}

.containerCard > *{
    margin: 10px 5px;
}