.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  min-height: 21px;
}

.iconWrapper {
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon {
  font-size: 14px;
}

.info {
  color: var(--primary-blue);
}

.success {
  color: var(--primary-green);
}

.error {
  color: var(--primary-red);
}

.warning {
  color: var(--primary-orange);
}

p {
  font-size: 14px;
  font-family: var(--paragraph-font);
  color: var(--grey-800);
}
