.container{
    box-sizing: border-box;
    width: 100%;
    padding: var(--gutter);
    display: flex;
    flex-direction: column;
    /* height: calc(100vh - var(--nav-height));
    overflow-y: auto; */
    min-height: calc(100vh - var(--nav-height));
    background-image: url("../../assets/textured_paper.png");
    min-height: calc(100vh - var(--nav-height));
}